version: '3.4'

networks:
  net8blazordemonetwork:

volumes:
  mssql-server-2022:
    external: true

services:
  net8blazordemodb:
    container_name: net8-blazor-demo-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    ports:
      - 1433:1433
    volumes:
      - mssql-server-2022:/var/opt/mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Password12345!
      - MSSQL_PID=Developer
    networks:
      - net8blazordemonetwork
  net8blazordemo:
    container_name: net8-blazor-demo-app
    image: ${DOCKER_REGISTRY-}net8blazordemoapp
    build:
      context: .
      dockerfile: NET8BlazorDemo/NET8BlazorDemo/Dockerfile
    ports:
      - 5000:80
      - 5001:443
    depends_on:
      - net8blazordemodb
    environment:
      - DB_HOST=net8blazordemodb
      - DB_NAME=NET8BlazorDemo
      - DB_SA_PASSWORD=Password12345!
    networks:
      - net8blazordemonetwork
