@page "/edit-movie"
@page "/edit-movie/{id:int}"
@inject IMovieService MovieService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Movie Editor</PageTitle>

@if (Id == null)
{
    <h1>Create Movie</h1>
}
else
{
    <h1>Edit @movie.Name</h1>
}

<EditForm Model="movie" OnSubmit="HandleSubmit" FormName="editMovie">
    <label>Name</label>
    <input type="text" @ref="txtName" @bind-value="movie.Name" disabled="@isLoading" />
    <button type="submit" class="btn btn-primary" disabled="@isLoading">Submit</button>
</EditForm>

@code {
    private bool isLoading;
    private ElementReference txtName;

    [SupplyParameterFromForm]
    private Movie movie { get; set; } = new Movie { Name = string.Empty };

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            isLoading = true;
            movie = await MovieService.GetMovieByIdAsync((int)Id);
        }
        isLoading = false;
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender || movie.Id != default)
        {
            await txtName.FocusAsync();
        }
    }

    protected async Task HandleSubmit()
    {
        isLoading = true;
        if (movie.Id == default)
        {
            await MovieService.CreateMovieAsync(movie);
        }
        else
        {
            await MovieService.UpdateMovieAsync(movie);
        }

        NavigationManager.NavigateTo("/movies");
    }
}
