@page "/edit-movie"
@page "/edit-movie/{id:int}"
@inject IMovieService MovieService
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Movie Editor</PageTitle>

@if (Id == null)
{
    <h1>Create Movie</h1>
}
else
{
    <h1>Edit @movie.Name</h1>
}

<EditForm Model="movie" OnSubmit="HandleSubmit" FormName="editMovie">
    <label>Name</label>
    <InputText @bind-Value="movie.Name">@movie.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

    @code {
    [SupplyParameterFromForm]
    private Movie movie { get; set; } = new Movie { Name = string.Empty };

    [Parameter]
    public int? Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            movie = await MovieService.GetMovieByIdAsync((int)Id);
        }
    }

    protected async Task HandleSubmit()
    {
        if (movie.Id == default)
        {
            await MovieService.CreateMovieAsync(movie);
        }
        else
        {
            await MovieService.UpdateMovieAsync(movie);
        }

        NavigationManager.NavigateTo("/movies");
    }
}
