@inject NavigationManager NavigationManager
@rendermode InteractiveWebAssembly

<button class="btn btn-outline-primary m-1" @onclick="UpdateMovie" disabled="@IsDisabled">Update</button>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public bool IsDisabled { get; set; }

    protected void UpdateMovie()
    {
        NavigationManager.NavigateTo($"/edit-movie/{Id}");
    }
}
