@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button class="btn btn-outline-success" @onclick="CreateMovie">Create</button>

@code {
    protected void CreateMovie()
    {
        NavigationManager.NavigateTo("/edit-movie");
    }
}
