@inject IMovieService MovieService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<button class="btn btn-danger m-1" @onclick="DeleteMovie">Delete</button>

@code {
    [Parameter]
    public int Id { get; set; }

    protected async Task DeleteMovie()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>(
            "confirm", 
            "Are you sure that you want to delete this movie from your list?");
        if (confirmed)
        {
            await MovieService.DeleteMovieAsync(Id);
            NavigationManager.NavigateTo("/movies");
        }
    }
}
