@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<button class="btn btn-outline-primary m-1" @onclick="UpdateMovie">Update</button>

@code {
    [Parameter]
    public int Id { get; set; }

    protected void UpdateMovie()
    {
        NavigationManager.NavigateTo($"/edit-movie/{Id}");
    }
}
